# Chainlink CRE
CRE_NODE_URL=
CRE_API_KEY=

# TEE enclave config
TEE_PRIVATE_KEY=          # Cle de signature du TEE (generee dans l'enclave)

# RPC (pour signer les TX cross-chain)
ARC_RPC=https://rpc.testnet.arc.network
BASE_SEPOLIA_RPC=https://sepolia.base.org
ARB_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
ETH_SEPOLIA_RPC=https://rpc.sepolia.org

# 0G Chain (pour attestations)
ZG_CHAIN_RPC=
